<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"
	th:href="@{/css/estilo-footer.css}" />
</head>
<body>
	<footer class="layout-footer" th:fragment="rodape">
		<div style="background:#e3c65f" class="container">
			<hr size=17>
			<span class="footer-copy"> Fatec - 20212s ADS.</span>
		</div>
	</footer>
</body>
</html>