@import url('https://fonts.googleapis.com/css?family=Rancho');
menu-page {
	width: 1200px;
	padding: 8% 0 0;
	margin: auto;
}

div {
	background: #e3c65f;
	font-family: Rancho;
}

form {
	top: 300px;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	z-index: 1;
}
li {
	left: 950px;
}
